<div class="container">
  <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tag</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <% site.INFO.forEach(function(info) { %>  
            
            <% if(info.split('=')[1] != '.') { %>
              <tr>
                <td><%= info.split('=')[0] %></td>  
                <td><%= info.split('=')[1] %></td>        
              </tr> 
            <% } %>

          <% }) %> 
        </tbody>
      </table>   

  </div>
</div>


