<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">CHROM</th>
      <th scope="col">POS</th>
      <th scope="col">ID</th>
      <th scope="col">REF</th>
      <th scope="col">ALT</th>
      <th scope="col">QUAL</th>
      <th scope="col">GENE</th>
      <th scope="col">FILTER</th>
      <th scope="col">Clinvar</th>
      <th scope="col">Cosmic</th>
      <!-- <th scope="col">INFO</th>
      <th scope="col">FORMAT</th> -->
    </tr>
  </thead>
  <tbody>

    <% sites.forEach(function(site) { %>  
      <tr>
        <td><%= site.CHROM %></td>
        <td><%= site.POS %></td>
        <td>
          <% site.ID.forEach(function(id) { %>  
            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs=<%= id %>">
              <%= id %>
            </a>
            <br>
          <% }) %> 
        </td>
        <td><%= site.REF %></td>
        <td><%= site.ALT %></td>
        <td><%= site.QUAL %></td>
        <td>
          <% site.GENE.forEach(function(gene) { %>  
            <a target="_blank" href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=<%= gene %>">
              <%= gene %>
            </a>
            <br>
          <% }) %> 
          
        </td>
        <td><%= site.FILTER %></td>
        <td><%= site.clinical_annotation.clinvar %></td>          
        <td><%= site.clinical_annotation.cosmic %></td>          
        <td>
          <% site.INFO.forEach(function(info) { %>  
            <% if(info.split('=')[1] != '.') { %>
              <%= info %><br>
            <% } %>
          <% }) %>            
        </td>
        <td>
          <%= site.FORMAT %><br>
          <%= site.DATA %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

