<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">CHROM</th>
      <th scope="col">POS</th>
      <th scope="col">ID</th>
      <th scope="col">REF</th>
      <th scope="col">ALT</th>
      <th scope="col">QUAL</th>
      <th scope="col">GENE</th>
      <th scope="col">FILTER</th>
      <th scope="col">INFO</th>
      <th scope="col">FORMAT</th>
    </tr>
  </thead>
  <tbody>
    <% sites.forEach(function(site) { %>  
      <tr>
        <td><%= site.CHROM %></td>
        <td><%= site.POS %></td>
        <td><%= site.ID %></td>
        <td><%= site.REF %></td>
        <td><%= site.ALT %></td>
        <td><%= site.QUAL %></td>
        <td><%= site.GENE %></td>
        <td><%= site.FILTER %></td>
        <td><%= site.INFO %></td>
        <td>
          <%= site.FORMAT %><br>
          <%= site.DATA %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>