<%- include('../layout/header.html', {'tab': 'analyses'}); %>

<h1 class="head-title">New Analysis</h1>

<form action="/analysis/create" method="POST">

  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" placeholder="" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="description" rows="5"></textarea>
    </div>
  </div>
  

  <h5 class="form-title">Genotype Value Filtering</h5>
  <hr>
  <div class="form-group row">
    <label for="min DP" class="col-sm-2 col-form-label">
      Min. DP

      <span class="icon ion-ios-help-outline" data-toggle="popover" title="Min DP" data-content="Includes only sites with mean depth values (over all included individuals) greater than or equal to the Min-DP value. These option require that the 'DP' FORMAT tag is included for each site."></span>
    </label>
    <div class="col-sm-10">
      <select class="form-control" name="min-dp">
        <option value=""></option>
        <% for(let i = 3; i <= 10; i++){ %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="max DP" class="col-sm-2 col-form-label">
      Max. DP

      <span class="icon ion-ios-help-outline" data-toggle="popover" title="Max DP" data-content="Includes only sites with mean depth values (over all included individuals) less than or equal to the Max-DP value. These option require that the 'DP' FORMAT tag is included for each site."></span>
    </label>
    <div class="col-sm-10">
      <select class="form-control" name="max-dp">
        <option value=""></option>
        <% for(let i = 3; i <= 10; i++){ %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
  </div>

  <h5 class="form-title">Filter Flag Filtering</h5>
  <hr>
  <div class="form-group row">
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="remove-non-passing-sites" type="checkbox"> Removes all sites with a FILTER flag other than PASS
        </label>
      </div>
    </div>
  </div>

  <h5 class="form-title">Variant Type Filtering</h5>
  <hr>
  <small class="form-text text-muted">
    *Inlcludes all variants by default
  </small>
  <br>
  <div class="form-group row">
    <div class="col-sm-1">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="site-types" value="snp" type="checkbox"> SNP
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="site-types" value="indel" type="checkbox"> Indel
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="site-types" value="mnp" type="checkbox"> MNP
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="site-types" value="ref" type="checkbox"> REF
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="site-types" value="bnd" type="checkbox"> BND
        </label>
      </div>
    </div>
  </div>


  <h5 class="form-title">Allele Filtering</h5>
  <hr>
  <div class="form-group row">
    <label for="min maf" class="col-sm-2 col-form-label">
      Min. MAF

      <span class="icon ion-ios-help-outline" data-toggle="popover" title="Min MAF" data-content="Include only sites with a Minor Allele Frequency greater than or equal to the '--maf' value. This option may be used without the other. Allele frequency is defined as the number of times an allele appears over all individuals at that site, divided by the total number of non-missing alleles at that site."></span>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="min-maf" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label for="max maf" class="col-sm-2 col-form-label">
      Max. MAF

      <span class="icon ion-ios-help-outline" data-toggle="popover" title="Max MAF" data-content="Include only sites with a Minor Allele Frequency less than or equal to the '--max-maf' value. This option may be used without the other. Allele frequency is defined as the number of times an allele appears over all individuals at that site, divided by the total number of non-missing alleles at that site."></span>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="max-maf" placeholder="">
    </div>
  </div>

  <h5 class="form-title">Miscellaneous Filtering</h5>
  <hr>
  <div class="form-group row">
    <label for="Min Quality" class="col-sm-2 col-form-label">
      Min. Quality
      <span class="icon ion-ios-help-outline" data-toggle="popover" title="Minimun Quality" data-content="Includes only sites with Quality value above this threshold."></span>
    </label>
    <div class="col-sm-10">
      <select class="form-control" name="min-quality">
        <option></option>
        <% for(let i = 10; i <= 300; i+=10){ %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
  </div>  

  <br><br>
  <div class="form-group row">
    <div class="offset-sm-4 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block">Submit Analysis</button>
    </div>
  </div>
</form>

<%- include('../inc/go-back.html', {'url': '/analysis'}); %>

<%- include('../layout/footer.html'); %>
