<%- include('../layout/header.html', {'tab': 'analyses'}); %>


<h1 class="head-title">Analyses</h1>

<a href="/analysis/create" class="btn btn-success float-right">
	<span class="icon ion-ios-plus-outline"></span> New
</a>

<br><br><br>

<table class="table">
  <thead>
    <tr>
      <th class="th-center" scope="col">#</th>
      <th class="th-center" scope="col">Name</th>
      <th class="th-center" scope="col">Author</th>
      <th class="th-center" scope="col">Date</th>
      <th class="th-center" scope="col">Progress</th>
      <th class="th-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% analyses.forEach(function(analysis) { %>  
      <tr>
        <th scope="row"></th>
        <td class="td-center"><%= analysis.title %></td>
        <td class="td-center"><%= analysis.author %></td>
        <td class="td-center">
          <%= moment(analysis.createdAt).format('DD/MM/YYYY HH:mm') %>
        </td>
        <td class="td-center"><%= analysis.progress.percent %> %</td>
        <td class="td-center">
        	<a href="/analysis/<%= analysis._id %>/report" class="btn btn-primary">
        		<span class="icon ion-stats-bars"></span>
        	</a>
          <% if(analysis.config.input_file.length == 0) { %>
            <a href="/analysis/<%= analysis._id %>/select-files" class="btn btn-warning">
              <span class="icon ion-document-text"></span>
            </a>
          <% } %>
        </td>
      </tr>
    <% }) %>
    
  </tbody>
</table>


<%- include('../layout/footer.html'); %>
