<%- include('../layout/header.html', {'tab': 'analyses'}); %>

<% if(analysis.failed) { %>
    <div class="alert alert-danger text-center" role="alert">
    	This job failed. Message: <%= analysis.error_message %>
    </div>
<% } %>

<h1 class="head-title">Report</h1>

<%- include('../inc/stages.html', {'stages': analysis.progress.stages}); %>

<br>

<a data-toggle="collapse" href="#collapse-config" aria-expanded="false" aria-controls="collapse-config">
	Configuration <small>(Show/Hide)</small>
</a>

<div class="collapse show" id="collapse-config">
  <div class="card card-body">
		<p>
			<strong>Author: </strong>
			<%= analysis.author %>
		</p>
		<p>
			<strong>Title: </strong>
			<%= analysis.title %>
		</p>
		<p>
			<strong>Description: </strong>
			<%= analysis.description %>
		</p>
		<p>
			<strong>Date: </strong>
			<%= moment(analysis.createdAt).format('DD/MM/YYYY HH:mm') %>
		</p>
		<p>
			<strong>Processing Time: </strong>
			<% if(analysis.finishedAt != null) { %>
				<%= moment(analysis.runnedAt).to(analysis.finishedAt) %>
			<% } %>
		</p>
		<p>
			<strong>Total sites: </strong>
			<%= analysis.result_sites_count %>
		</p>
		<p>
			<strong>Download result VCF: </strong>
			<a href="<%= data_server_endpoint %>/api/analysis/<%= analysis._id %>/download">
				<i class="icon ion-ios-cloud-download"></i>
			</a>
		</p>

		<hr>

		<dl class="row">
		  <dt class="col-sm-2">Min Quality</dt>
		  <dd class="col-sm-4"><%= analysis.config['min-quality'] %></dd>

		  <dt class="col-sm-2">Site Types</dt>
		  <dd class="col-sm-4"><%= analysis.config['site-types'] %></dd>

		  <dt class="col-sm-2">Min DP</dt>
		  <dd class="col-sm-4"><%= analysis.config['min-dp'] %></dd>

		  <dt class="col-sm-2">Max DP</dt>
		  <dd class="col-sm-4"><%= analysis.config['max-dp'] %></dd>
		  
		  <dt class="col-sm-2">Min MAF</dt>
		  <dd class="col-sm-4"><%= analysis.config['min-maf'] %></dd>

		  <dt class="col-sm-2">Max MAF</dt>
		  <dd class="col-sm-4"><%= analysis.config['max-maf'] %></dd>

		  <dt class="col-sm-2">Only passing sites</dt>
		  <dd class="col-sm-4"><%= analysis.config['remove-non-passing-sites'] %></dd>
		</dl>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" id="searchfield-sites" placeholder="Search for..." aria-label="Search for..." value="GENE=RXRA, REF=T">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="search-sites" type="button">Search</button>
      </span>
    </div>
  </div>
</div>

<div id="search-sites-results">
	<!-- Loaded via AJAX -->
</div>

<!-- Modal Site Detail -->
<div class="modal fade" id="modal-site-detail" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
        	Detail INFO
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


<%- include('../inc/go-back.html', {'url': '/analysis'}); %>

<%- include('../layout/footer.html'); %>
