<%- include('../layout/header.html', {'tab': 'analyses'}); %>


<h1 class="head-title">Select Files</h1>
<small id="passwordHelpBlock" class="form-text text-muted">
  *Note: Only .vcf.gz files are listed.
</small>

<br>

<form method="GET">
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group input-group-md">
        <input type="text" class="form-control" name="name" placeholder="Search for..." aria-label="Search for..." value="<%= query.name %>">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
    </div>
  </div>
</form>

<br><br>

<% listing.forEach(function(file) { %>
  <span class="file-item">
    <input type="checkbox" class="form-check-input" name="files[]" value="<%= file %>">
    <%= file %> 
  </span>
  <br>
<% }) %>


<%- include('../layout/footer.html'); %>
