
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ALS</title>

    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/steps.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ALS</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= (tab == 'analyses') ? 'active' : '' %>">
            <a class="nav-link" href="/analysis">Analyses <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= (tab == 'data-server-conn') ? 'active' : '' %>">
            <a class="nav-link" href="/data-server-connection">Data Server</a>
          </li>
          <li class="nav-item <%= (tab == 'about') ? 'active' : '' %>">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        
      </div>
    </nav>
    

    <% if(messages.status && messages.status == 'success') { %>
        <div class="alert alert-success text-center" role="alert">
          <%= messages.info %>
        </div>
    <% } %>

    <% if(messages.status && messages.status == 'error') { %>
        <div class="alert alert-danger text-center" role="alert">
          <%= messages.info %>
        </div>
    <% } %>

    <div class="container">
    	



