<%- include('../layout/header.html', {'tab': 'data-server-conn'}); %>


<h1 class="head-title">Data Server Connection</h1>


<form method="POST" action="/data-server-connection/update">
  <div class="form-group row">
    <label for="host" class="col-sm-2 col-form-label">Host</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="host" name="host" placeholder="" value="<%= config.host %>">
    </div>
  </div>
  <div class="form-group row">
    <label for="port" class="col-sm-2 col-form-label">Port</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="port" name="port" placeholder="" value="<%= config.port %>">
    </div>
  </div>
  <div class="form-group row">
    <label for="api_key" class="col-sm-2 col-form-label">API Key</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="key" placeholder="" value="<%= config.key %>">
    </div>
  </div>
  
  <br><br>
  <div class="form-group row">
    <div class="offset-md-3 col-sm-3">
      <button type="button" id="test-connection" class="btn btn-success btn-block">
      	<span class="icon ion-ios-pulse-strong"></span>
      	Test Connection
      </button>
    </div>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary btn-block">
      	Save
      	<span class="icon ion-checkmark"></span>
      </button>
    </div>
  </div>
</form>

<%- include('../inc/go-back.html', {'url': '/analysis'}); %>

<%- include('../layout/footer.html'); %>